.big-photo-box {
    padding-top: 2vh;
    text-align: center;
}

.big-photo-box p {
    margin-block: 0;
    margin-inline: 0;
}

@media only screen and (max-width: 400px) {
    .big-photo-box img{
        width: 98%;
        height: auto;
    }
}
