@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Righteous&display=swap');

body, html {
    height: 100%;
    background: linear-gradient(#87ceeb, #ffff66);
    background-attachment: fixed;
}

.loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 2px dashed;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    animation: loading 5s linear infinite;
}

@keyframes loading {
    0% {rotate: 0deg; color: #ff0000; }
    50% {rotate: 180deg; color: #00ffff}
    100% {rotate: 360deg; color: #ff0000;}
}

.heading {
    height: 4vh;
}

.heading-hidden {
    display: none;
}

.title {
    font-family: 'Righteous', cursive;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0.1vw 0.1vw darkslateblue;
}

.title span {
    font-size: 6rem;
    text-shadow: 0.7rem 0.4rem darkslateblue;
}

.photo-display-wheel {
    padding: 2vh 0 2vh 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

@media only screen and (max-width: 400px) {
    .photo-display-wheel{
        padding: 2vh 0 2vh 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: auto;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.photo-display-wheel button {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
}

.artist-plaque {
    height: 5rem;
    width: 100%;
    background: radial-gradient(white, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 400px) {
    .artist-plaque{
        display: none;
    }
}

.photo-searchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
}

.photo-searchbar form::placeholder{
    font-weight: bold;
}

.photo-searchbar__form {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5vh;
}

.photo-searchbar__form input {
    box-shadow: 0 0.5vh darkslategray;
    width: 50vw;
    text-align: center;
    border-bottom-left-radius: 1vw;
    border-top-left-radius: 1vw;
}

.photo-searchbar__form button {
    box-shadow: 0.3vw 0.5vh darkslategray;
    background: darkseagreen;
    width: 30vw;
    border-bottom-right-radius: 1vw;
    border-top-right-radius: 1vw;
}

.photo-searchbar__form button:not(:disabled) {
    cursor: pointer;
}

.photo-searchbar__random-button {
    background: none;
    width: 40vw;
    margin-top: 0.5vh;
    border-radius: 1vw;
    box-shadow: 0.3vw 0.5vh darkslategray;
}

.photo-searchbar__random-button:hover {
    background: darkseagreen;
    cursor: pointer;
    box-shadow: 0.3vw 0.5vh black;
}

.the-credits {
    position: relative;
    padding-top: 2vh;
    padding-left: 1.5vw;
    bottom: 4vh;
}

.the-credits span {
    text-decoration-line: underline;
}