.photo-box {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.photo-box:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media only screen and (max-width: 400px) {
    .photo-box{
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
}

@media only screen and (min-width: 400px) {
    .photo-box__photo-info {
        display: none;
    }
}
